<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f45dac67-d422-4cee-8ef1-d6372d14468a/resourcegroups/Solution1Module20210325193853ResourceGroup/providers/Microsoft.ContainerRegistry/registries/GOVpodatnicyVATModule20210327180242</ResourceId>
    <ResourceName>GOVpodatnicyVATModule20210327180242</ResourceName>
    <ResourceGroup>Solution1Module20210325193853ResourceGroup</ResourceGroup>
    <Subscription>Bezpłatna wersja próbna</Subscription>
    <RegistryUrl>https://govpodatnicyvatmodule20210327180242.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>